body{
    background-image: url(tlo.png);
	font-family:OCR A Std, monospace;
}
#cale{
	width:1360px;
}
#zegar{
	font-family:OCR A Std, monospace;
	margin-left:10px;
	font-size:25px;
	width:90px;
	float:left;
}
#tytul{
	font-family:OCR A Std, monospace;
	background-image: url(tlo-tyt.jpg);
    height:150px;
}
#tytul1{
	font-size:80px;
	width:900px;
}
.odn{
	
	height:70px;
	width:70px;
	margin-right:20px;
	margin-bottom:auto;
	float:right;
}
#ja{
	height:100px;
	width:100px;
	float:right;
	margin-top:10px;
	margin-right:10px;
}

.zad{
	height:500px;
	width:500px;
	text-align:center;

}

#zadhj{
	height:60px;
	width:500px;
	background-image: url(tlo-tyt.jpg);
	
}

#zadob{
	height:400px;
	width:400px;
	margin-top:10px;
}

#zadh{	
	font-size:50px;
}



