@keyframes ruch
{
  0% { background-position:10000px 0, 7500px 0, 5000px 0; }	
  100% { background-position:0 0, 0 0, 0 0; }
  
}

body{
    background-image: url(tlo.png);
    font-family:OCR A Std, monospace;
}
#cale{
	width:1360px;
}
#zegar{
	font-family:OCR A Std, monospace;
	margin-right:15px;
	margin-top:10px;
	font-size:25px;
	float:right;
    height:25px;
	border:4px black solid;
}
#tytul{
	font-family:OCR A Std, monospace;
	background-image: url(tlo-tyt.jpg),url(tlo-tyt.jpg),url(tlo-tyt.jpg);
	animation:ruch 300s linear infinite alternate;
    height:150px;
}
#tytul1{
	font-size:70px;
	width:1200px;

	
}
.odn{
	
	height:60px;
	width:60px;
    float:left;
	margin-right:20px;
	margin-top:5px;


}
#obr{
	float:left;
	height:200px;
	width:200px;
	margin-top:10px;
	margin-left:10px;
	margin-right:10px;
	
}
#ja{
	height:100%;
	width:100%;
	float:left;
	border:4px white solid;
}

.zad{
	height:400px;
	width:400px;
	text-align:center;
	margin-top:50px;
    margin-left:20px;
	float:left;
}

#zadhj{
	height:50px;
	width:400px;
	background-image: url(tlo-tyt.jpg),url(tlo-tyt.jpg),url(tlo-tyt.jpg);
	animation:ruch 300s linear infinite alternate;
	
}

#zadob{
	height:300px;
	width:300px;
	margin-top:10px;
}

#zadh{	
	font-size:40px;
}


.proj{
	height:400px;
	width:400px;
	text-align:center;
	margin-top:50px;
    margin-left:20px;
	float: left;
}

#projhj{
	height:50px;
	width:400px;
	background-image: url(tlo-tyt.jpg),url(tlo-tyt.jpg),url(tlo-tyt.jpg);
	animation:ruch 300s linear infinite alternate;
	
}

#projob{
	height:250px;
	width:250px;
	margin-top:10px;
}

#projh{	
	font-size:40px;
}
