h1{
    font-size:40px;
	text-align:center;
margin-top:auto;
margin-right:190px;
margin-bottom:25px;
margin-left:190px;
}
#pow{
	high:50px;
	width:50px;
}
h3{
text-align:right;
font-style:italic;
font-size:25px;
text-align:20px;
margin-top:50px;
margin-right:190px;
margin-bottom:50px;
margin-left:auto;
}
#calosc{
    width:1200px;
	font-family:Arial;
}
#photo1{

text-align:center;
height:300px;
width:500px;
margin-top:20px;
margin-right:10px;
margin-bottom:10px;
margin-left:190px;
float:left;

}
#photo3{
background-color:red;
height:300px;
width:500px;
margin-top:10px;
margin-right:10px;
margin-bottom:20px;
margin-left:190px;
float:left;
}
#photo2{

height:620px;
width:300px;
margin-top:20px;
margin-right:190px;
margin-bottom:20px;
margin-left:10px;
float:right;

}
#photo4{
height:300px;
width:820px;
margin-top:10px;
margin-right:190px;
margin-bottom:20px;
margin-left:190px;
clear:both;
}
#stopka{
background-color:#0099FF;
height:150px;
width:820px;
font-size:15px;
color:white;
text-align:center;
margin-top:10px;
margin-right:190px;
margin-bottom:20px;
margin-left:190px;
}